In [57]:
import mysql.connector
import pandas as pd 
from mysql.connector import Error
 
# Creating connection object
mydb = mysql.connector.connect(
    host = "localhost",
    port = "3307",
    user = "root",
    password = "Josh&2002"
)
 
# Printing the connection object 
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000229F4D3EC80>

In [58]:
import mysql.connector

# Creating connection object
mydb = mysql.connector.connect(
    host="localhost",
    port="3307",
    user="root",
    password="Josh&2002"
)

# Creating an instance of 'cursor' class 
# which is used to execute the 'SQL' 
# statements in 'Python'
cursor = mydb.cursor()

# Show databases
cursor.execute("SHOW DATABASES")

# Fetch all the rows
databases = cursor.fetchall()

# Print the databases
for database in databases:
    print(database[0])

futurenese_employees
futurenseusers
information_schema
mysql
performance_schema
project_healthcare
sakila
sys
world

In [59]:
import mysql.connector

# Creating connection object
mydb = mysql.connector.connect(
    host="localhost",
    port="3307",
    user="root",
    password="Josh&2002"
)

# Creating an instance of 'cursor' class 
# which is used to execute the 'SQL' 
# statements in 'Python'
cursor = mydb.cursor()

# Show databases
cursor.execute("USE project_healthcare")

# Fetch all the rows
databases = cursor.fetchall()

# Print the databases
for database in databases:
    print(database[0])

In [60]:
import mysql.connector

# Creating connection object
mydb = mysql.connector.connect(
    host="localhost",
    port="3307",
    user="root",
    password="Josh&2002"
)

# Creating an instance of 'cursor' class 
# which is used to execute the 'SQL' 
# statements in 'Python'
cursor = mydb.cursor()

# Show databases
cursor.execute("USE project_healthcare")

# Fetch all the rows
databases = cursor.fetchall()

# Print the databases
for database in databases:
    print(database[0])

In [61]:
def run_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        columns = [column[0] for column in cursor.description]
        df = pd.DataFrame(result, columns=columns)
        return df
    except Error as err:
        print(f"The error '{err}' occurred")

In [62]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"The error '{err}' occurred")

In [63]:
import mysql.connector

# Creating connection object
mydb = mysql.connector.connect(
    host="localhost",
    port="3307",
    user="root",
    password="Josh&2002"
)

# Creating an instance of 'cursor' class 
# which is used to execute the 'SQL' 
# statements in 'Python'
cursor = mydb.cursor()

cursor.execute("USE project_healthcare")
# Show databases
cursor.execute("""SELECT c.District, c.State_UT, h.Households_Rural + h.Households_Urban - h.Households_Rural_Toilet_Premise - h.Households_Urban_Toilet_Premise AS Households_Without_Toilet
FROM census c
JOIN housing h ON c.District = h.District
JOIN all_hospitals ah ON c.State_UT = ah.State_UT
JOIN government_hospital gh ON c.State_UT = gh.State_UT
WHERE ah.Total_Hospital_Beds / c.Population = (
    SELECT MIN(ah.Total_Hospital_Beds / c.Population)
    FROM census c
    JOIN all_hospitals ah ON c.State_UT = ah.State_UT
)
ORDER BY Households_Without_Toilet DESC;""")

# Fetch all the rows
databases = cursor.fetchall()

# Print the databases
# Print the fetched rows
for row in databases:
    district, state_ut, households_without_toilet = row
    print(f"District: {district}, State/UT: {state_ut}, Households Without Toilet: {households_without_toilet}")

In [54]:
import mysql.connector

try:
    # Creating connection object
    mydb = mysql.connector.connect(
        host="localhost",
        port="3307",
        user="root",
        password="Josh&2002",
        database="project_healthcare"  # Specify your database name here
    )

    print("Connection established successfully")

    # Creating an instance of 'cursor' class 
    cursor = mydb.cursor()

    # Execute USE statement to select the database
    cursor.execute("USE project_healthcare")  # Replace "your_database" with your actual database name

    # Execute your SQL query
    cursor.execute("""SELECT *
    FROM census
    JOIN housing ON census.District = housing.District
    JOIN all_hospitals ON census.State_UT = all_hospitals.State_UT
    JOIN government_hospital ON census.State_UT = government_hospital.State_UT
    LIMIT 3;""")

    print("Query executed successfully")

    # Fetch all the rows
    rows = cursor.fetchall()

    # Display the fetched rows
    for row in rows:
        print(row)

    # Close cursor and connection
    cursor.close()
    mydb.close()
    
except mysql.connector.Error as err:
    print("Error:", err)

Connection established successfully
Query executed successfully
('Gujarat', 'Ahmadabad', 7214225, 3788051, 3426174, 5435760, 3025463, 2410297, 353169, 1845383, 2198552, 3952858, 2043895, 1198152, 19320, 'Ahmadabad', 353169, 143033, 7063, 116193, 1845383, 441047, 11072, 1699598, 'Gujarat', 1770, 385, 44, 37, 2236, 41129, 'Gujarat', 364, 11715, 122, 20565, datetime.date(2016, 12, 31))
('Maharashtra', 'Ahmadnagar', 4543159, 2342825, 2200334, 3151890, 1773355, 1378535, 1041393, 282011, 1323404, 2496560, 1166245, 865139, 15215, 'Ahmadnagar', 1041393, 318666, 77063, 407185, 282011, 65145, 7050, 207560, 'Maharashtra', 2638, 430, 101, 70, 3239, 68998, 'Maharashtra', 273, 12398, 438, 39048, datetime.date(2015, 12, 31))
('Rajasthan', 'Ajmer', 2583052, 1324085, 1258967, 1526673, 926268, 600405, 409335, 274919, 684254, 1561077, 629951, 388040, 3984, 'Ajmer', 409335, 204258, 13917, 57716, 274919, 76702, 3024, 236980, 'Rajasthan', 2463, 579, 64, 33, 3139, 51844, 'Rajasthan', 602, 21088, 150, 10760, datetime.date(2016, 12, 31))

In [64]:
run_query(mydb,"""SELECT *
    FROM census
    JOIN housing ON census.District = housing.District
    JOIN all_hospitals ON census.State_UT = all_hospitals.State_UT
    JOIN government_hospital ON census.State_UT = government_hospital.State_UT
    LIMIT 3;""")

,State_UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,Households_Rural,Households_Urban,...,Sub_District_Hospitals,District_Hospitals,Total_Hospitals,Total_Hospital_Beds,State_UT,Rural_Government_Hospitals,Rural_Government_Beds,Urban_Government_Hospitals,Urban_Government_Beds,Last_Updated
0,Gujarat,Ahmadabad,7214225,3788051,3426174,5435760,3025463,2410297,353169,1845383,...,44,37,2236,41129,Gujarat,364,11715,122,20565,2016-12-31
1,Maharashtra,Ahmadnagar,4543159,2342825,2200334,3151890,1773355,1378535,1041393,282011,...,101,70,3239,68998,Maharashtra,273,12398,438,39048,2015-12-31
2,Rajasthan,Ajmer,2583052,1324085,1258967,1526673,926268,600405,409335,274919,...,64,33,3139,51844,Rajasthan,602,21088,150,10760,2016-12-31

# Problem statement 20

In [84]:
run_query(mydb, """SELECT c.District, c.State_UT, 
    (h.Households_Rural + h.Households_Urban - h.Households_Rural_Toilet_Premise - h.Households_Urban_Toilet_Premise) AS Households_Without_Toilet
FROM census c
INNER JOIN housing h ON c.District = h.District
INNER JOIN all_hospitals ah ON c.State_UT = ah.State_UT
INNER JOIN government_hospital gh ON c.State_UT = gh.State_UT
WHERE ah.Total_Hospital_Beds / c.Population = (
    SELECT MIN(ah.Total_Hospital_Beds / c.Population)
    FROM census c
    inner JOIN all_hospitals ah ON c.State_UT = ah.State_UT
)
ORDER BY Households_Without_Toilet DESC;""")

Empty DataFrame
Columns: [District, State_UT, Households_Without_Toilet]
Index: []

# Problem statement 21

In [67]:
execute_query(mydb,"""CREATE FUNCTION get_hospital_beds(state_name TEXT)
RETURNS INT
DETERMINISTIC
BEGIN
    DECLARE result INT;
    SELECT HospitalBeds INTO result FROM all_hospitals WHERE State_UT = state_name;
    RETURN result;
END;""")

The error '1304 (42000): FUNCTION get_hospital_beds already exists' occurred

In [68]:
execute_query(mydb,"""CREATE FUNCTION get_population_districts(district_name VARCHAR(100))
RETURNS INT
DETERMINISTIC
BEGIN
    DECLARE total_population INT;
    SELECT Population INTO total_population FROM census WHERE District = district_name;
    RETURN total_population;
END;""")

Query successful

In [69]:
execute_query(mydb,"""CREATE FUNCTION get_population(state_ut_name VARCHAR(100))
RETURNS INT
DETERMINISTIC
BEGIN
    DECLARE total_population INT;
    SELECT SUM(Population) INTO total_population FROM census Where State_UT = state_ut_name;
    RETURN total_population;
END;""")

Query successful

In [70]:
execute_query(mydb, """CREATE FUNCTION senior_citizen_population(state_ut_name VARCHAR(100))
RETURNS INT
DETERMINISTIC
BEGIN
    DECLARE total_senior_citizens INT;
    SELECT SUM(Senior_Citizen) INTO total_senior_citizens FROM census WHERE State_UT = state_ut_name;
    RETURN total_senior_citizens;
END; """)

Query successful

In [71]:
execute_query(mydb, """CREATE FUNCTION get_govt_hospital_beds(state_ut_name VARCHAR(100))
RETURNS INT
DETERMINISTIC
BEGIN
    DECLARE total_govt_hospital_beds INT;
    SELECT Rural_Government_Beds + Urban_Government_Beds INTO total_govt_hospital_beds FROM government_hospital WHERE State_UT = state_ut_name;
    RETURN total_govt_hospital_beds;
END; """)

Query successful

In [72]:
execute_query(mydb, """CREATE FUNCTION beds_per_lakh(state_ut_name VARCHAR(100))
RETURNS DECIMAL(10, 2)
DETERMINISTIC
BEGIN
    DECLARE total_population INT;
    DECLARE total_hospital_beds INT;
    DECLARE beds_per_lakh DECIMAL(10, 2);
    SELECT SUM(Population) INTO total_population FROM census WHERE State_UT = state_ut_name;
    SELECT Total_Hospital_Beds INTO total_hospital_beds FROM all_hospitals WHERE State_UT = state_ut_name;
    SET beds_per_lakh = (total_hospital_beds / total_population) * 100000;
    RETURN beds_per_lakh;
END;""")

Query successful

In [73]:
execute_query(mydb, """CREATE FUNCTION govt_beds_per_lakh(state_ut_name VARCHAR(100))
RETURNS DECIMAL(10, 2)
DETERMINISTIC
BEGIN
    DECLARE total_population INT;
    DECLARE total_govt_hospital_beds INT;
    DECLARE govt_beds_per_lakh DECIMAL(10, 2);
    SELECT SUM(Population) INTO total_population FROM census WHERE State_UT = state_ut_name;
    SELECT Rural_Government_Beds + Urban_Government_Beds INTO total_govt_hospital_beds FROM government_hospital WHERE State_UT = state_ut_name;
    SET govt_beds_per_lakh = (total_govt_hospital_beds / total_population) * 100000;
    RETURN govt_beds_per_lakh;
END;""")

Query successful